.login {
    width: 30%;
    margin: 0 auto;
} 
.iiframe{
    width: 70%;
    margin: 0 auto;
}
.rButton{
    width:20px;
    height:20px;
}
input{
    /* width:20px; */
    /* height:100px;   */
}
.jumbotron{
    background-image: linear-gradient(purple, yellow);
}
canvas{
    background-color: rgb(194, 194, 247);
}