<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">HOUSE COMMITTEE</h1>
      <p class="lead">HAIFA,  <br>   19TH YEAROT ST.</p>
    </div>
  </div>
<div class="container login mt-5">
    <h1>Log In </h1>
    <p>or <a href="#">create an account</a></p>
    <div class="alert alert-danger" role="alert" ng-show="invalidLogin">
        Invalid email or password
    </div>
    <form>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" ng-model="email">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" ng-model="pwd">
        </div>
        <button type="button" class="btn btn-important btn-block" ng-click="login()">Log In</button>
    </form>
<h6>Go in</h6>
<p>neighbours:
<br>
d@mail.com psword:123
<br>
ora@mail.com 234
<br>
vaad@mail.com 100
</p>
</div>
